body{
  background:lightblue;
}
.test{
  width: 100px;
  height: 100px;
  background: rgb(43,72,161);
  border-radius: 100% 
}
.test1{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 80px;
  border-color: transparent transparent #e96900;
  transform: rotate(180deg);
  position:absolute;
}

.box1{
/*   border:2px solid red; */
  width:200px;
  height:200px;
  position:absolute;
  left:40%;
  top:250px;
}
.droplet {
  width: 100px;
  height: 120px;
  background: rgb(43,72,161);
  border-radius: 100% 100% 50% 50% / 100% 100% 100% 100%;
}
#droplet0{
  transform: rotate(0deg);
  position:relative;
  top:150px;
  left:35%;
  width:350px;
  height:350px;
  background:#fff;
  
}
#droplet1{
  position:absolute;
  left:50px;
}
#droplet2{
  transform: rotate(270deg);
  position:absolute;
  top:40px;
}
#droplet3{
  transform: rotate(90deg);
  position:absolute;
  top:40px;
  right:0px;
}
#droplet4{
  transform: rotate(180deg);
  position:absolute;
  bottom:0px;
  left:50px;
}
.ear1{
  width: 150px;
  height: 180px;
  background: rgb(43,72,161);
  border-radius: 100% 0% 25% 75% / 70% 28% 72% 30%;
  position:absolute;
  left:90%;
  top: 0;
  transform: rotate(55deg);
  z-index: 1;
}
.ear2{
  width: 150px;
  height: 180px;
  background: rgb(43,72,161);
  border-radius: 100% 0% 25% 75% / 70% 28% 72% 30%;
  position:absolute;
  left:-10%;
  top: 0;
  transform: scaleX(-1) rotate(55deg); /* 水平鏡像 + 旋轉 */
}

.full{
/*   border:2px solid blue; */
  position:relative;
  width:80%;
  height:100%;
}
.eye{
  width:90px;
  height:90px;
  border-radius:50%;
  position:absolute;
  z-index:;
  background:rgb(211,181,246);
  top: 50%;/* 圖片下推父元素的一半距離 */
  left:50%;/* 圖片右推父元素的一半距離 */
  transform:translate(-50%,-50%);
}
